{% extends 'base.html' %}

{% block title %}Курсы{% endblock %}

{% block content %}
<section class="courses">
    <h1>Наши курсы</h1>
    <div class="course-container">
        <div class="course" data-aos="zoom-in">
            <img src="https://via.placeholder.com/300x200?text=JavaScript+Курс" alt="JavaScript Курс">
            <h3>Курс по JavaScript</h3>
            <p>Научитесь создавать интерактивные веб-приложения с использованием JavaScript.</p>
            <a class="button" href="#">Читать</a>
        </div>
        <div class="course" data-aos="zoom-in">
            <img src="https://via.placeholder.com/300x200?text=Python+Курс" alt="Python Курс">
            <h3>Курс по Python</h3>
            <p>Изучите основы программирования на Python и создайте свои первые приложения.</p>
            <a class="button" href="#">Читать</a>
        </div>
        <div class="course" data-aos="zoom-in">
            <img src="https://via.placeholder.com/300x200?text=Веб-дизайн+Курс" alt="Веб-дизайн Курс">
            <h3>Курс по веб-дизайну</h3>
            <p>Создайте красивый и функциональный веб-дизайн, который привлечет пользователей.</p>
            <a class="button" href="#">Читать</a>
        </div>
        <div class="course" data-aos="zoom-in">
            <img src="https://via.placeholder.com/300x200?text=PHP+Курс" alt="PHP Курс">
            <h3>Курс по PHP</h3>
            <p>Изучите серверное программирование с помощью PHP и создайте свои веб-приложения.</p>
            <a class="button" href="#">Читать</a>
        </div>
    </div>
</section>
{% endblock %}
